<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>錯誤訊息</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/metisMenu.min.css}" rel="stylesheet">
<link th:href="@{/css/startmin.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css">

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/metisMenu.min.js}"></script>
<script th:src="@{/js/startmin.js}"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
	<div>
		<h1 style="color: red">網頁發生錯誤請聯絡管理員人</h1>
		<h3>
			錯誤訊息: <span th:text="${errorMsg}"></span>
		</h3>
	</div>
</body>
</html>
